.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.label {
	display: block;
	padding-bottom: 5px;
}
.controls {
	display: block;
}
.control {
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;
	width: 100%;
	max-width: 250px;
	margin-bottom: 15px;
}

:global .mdc-select {
	min-width: 250px;
	height: 40px;
}
:global .mdc-select__surface {
	height: 40px !important;
}